<% if flash[:comment_error] %>
    <p><%= flash[:comment_error] %></p>
<% end %>

<div class="comment-container">
  <div class="small-image-box">
      <%= image_tag user_avatar(current_user, 40), width: "40px", height: "40px"  %>
  </div>
  
  <div class="comment-container_new">
    <%= form_with model: [ user, post, comment ]  do |form| %>
      <div>
        <%= form.text_field :content, placeholder: "Write a comment...", class: "comment_input" %>
        <% user.errors.full_messages_for(:content).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <%= form.submit class: "hide" %>
    <% end %>
  </div>
</div>