<% if flash[:comment_error] %>
    <p><%= flash[:comment_error] %></p>
<% end %>

<div class="comment-container">
  <div class="small-image-box">
      <img height="40" src="https://scontent.famd15-1.fna.fbcdn.net/v/t31.18172-1/cp0/p80x80/17545403_1384194594970384_8847399989481913773_o.jpg?_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=7206a8&amp;_nc_ohc=gDbkZFa77ngAX-ewrfn&amp;_nc_ht=scontent.famd15-1.fna&amp;oh=d6c66568c09cad51539820f8161f713a&amp;oe=61A00EE4" width="40" alt="" />
  </div>
  
  <div class="comment-container_new">
    <%= form_with model: [ user, post, comment ]  do |form| %>
      <div>
        <%= form.text_field :content, placeholder: "Write a comment...", class: "comment_input" %>
        <% user.errors.full_messages_for(:content).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <%= form.submit class: "hide" %>
    <% end %>
  </div>
</div>